# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc & system
.DS_Store
*.pem
Thumbs.db
*.tsbuildinfo
next-env.d.ts
.vscode/
.idea/
*.swp
*.swo

# logs & debug
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
.env.test
.env.test.local
!.env.example

# vercel
.vercel

# development cache
.turbo
.cache

# Prisma
.prisma/
*.db
*.db-journal
*.db-shm
*.db-wal
